.loginWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1120;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

.form_container {
    width: 400px;
    background-color: #16213e;
    padding: 20px;
    border-radius: 8px;
}

.button_group {
    display: flex;
    justify-content: center;
}

.btn {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.form_container h2 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #1D2939;
    border: solid #475467;
    color: white;
    border-radius: 5px;
    border-width: 2px;
}

.google_btn {
    background-color: #CE3B3B;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: #40514e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login_link {
    color: #613DE4;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
}

hr {
    border-color: #333;
    margin: 20px 0;
}

#signInBtn {
    width: 200px;
    background: #613DE4;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#signUpBtn {
    width: 200px;
    border-left: 2px solid #475467;
    border-bottom: 2px solid #475467;
    border-top: 2px solid #475467;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.button_group {
    display: flex;
    justify-content: space-between;
}

.enter_title {
    font-size: 14px;
}

.details_title {
    font-size: 10px;
    margin: 0 0 3px 0;
    padding: 0;
}

#sub {
    background: #613DE4;
}

#googleSign {
    font-weight: bold;
    font-size: larger;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #475467;
}

.line {
    flex-grow: 1;
    margin: 0;
}

.text {
    padding: 0 15px;
    color: #9CA3AF;
}
